<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531749549647-7u9j5vhi3qi5l8oc8m9d2kf5o9b5r0t0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531749549647-7u9j5vhi3qi5l8oc8m9d2kf5o9b5r0t0</string>
	<key>API_KEY</key>
	<string>AIzaSyAV3WQNFMZNU6x94qa5pRr0cBzXIc34Lcs</string>
	<key>GCM_SENDER_ID</key>
	<string>531749549647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FTBoilerplate</string>
	<key>PROJECT_ID</key>
	<string>auth-c1b77</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-c1b77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531749549647:ios:ab4708d5d595d402049c3a</string>
	<key>DATABASE_URL</key>
	<string>https://auth-c1b77.firebaseio.com</string>
</dict>
</plist>